<footer class = "footer d-flex align-items-center">
    <div class = "row w-100">
        <div class = "col-md-4 d-flex justify-content-start align-items-center">
            <p class = "p-white m-0 w-100 text-center-mobile"><span class = "font-weight">&copy;2017</span> SOHO internet + humana</p>
        </div>
        <div class = "col-md-4 d-flex justify-content-center align-items-center">
            <p class = "p-gr my-0">Visítanos</p>
            <p class = "p-gr margl-10 my-0">Escríbenos</p>
            <p class = "p-gr margl-10 my-0">Llámanos</p>
        </div>  
        <div class = "col-md-4 d-flex justify-mobile align-items-center">
            <p class = "facebook my-0">Facebook</p>
            <p class = "twitter margl-10 my-0">Twitter</p>
            <p class = "linkedin margl-10 my-0">Linkedin</p>
            <p class = "youtube margl-10 my-0">Youtube</p>
    
        </div>
    </div>
</footer>

