.logonav{
    width:50px;
}
.nav-link{
    color: rgb(231, 231, 231) !important;
    margin-left: 40px;
  }
  .color-white{
    color:white !important;
  }
  
  .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
    font-weight: bolder !important;
    color:white !important;
    border-bottom: 3px solid #4fee27;
  }

  .bg-nav {
    background-image: url("/assets/images/backgroundnav.jpg") ;
    background-position: bottom; 
    background-repeat: no-repeat;
    background-size: cover; 
    padding-left: 30px;
    padding-right: 30px;
  }
  .size-nav{
    height:75vh;
  }
  .color-icon-nav{
    color:white;
  }
  .bg-black{
    background-color: black !important;
    padding:20px;
    text-align: center;
    & .color-icon-subnav{
      color:red;
      padding-right: 10px;
    }
  }