<div class="container-fluid d-flex justify-content-center align-items-center py-5 bg-gray">
    <div>
          <p class = "titulo-w-small font-weight">Lo que dicen nuestros clientes</p>
          <div class = "underline-gr"></div>
          <div class = "row pt-5">
            <div class = "col-md-4 content-first-client d-flex justify-content-center align-items-end">
              <div class = "text-center">
                <p class = "p-white">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac ipsum velit."</p>
                <p class = "p-white font-weight">Cristobal Hernandez - CEO Copec</p>
              </div>
              
            </div>
            <div class = "col-md-4 content-second-client  d-flex justify-content-center align-items-end">
              <div class = "text-center">
                <p class = "p-white">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac ipsum velit."</p>
                <p class = "p-white font-weight">Maria Paz Segers - Lead Digital BBVA</p>
              </div>
              
            </div>
            <div class = "col-md-4 content-third-client  d-flex justify-content-center align-items-end">
              <div class = "text-center">
                <p class = "p-white">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac ipsum velit."</p>
                <p class = "p-white font-weight">Renato Buscañán - Lead Digital BBVA</p>
              </div>
              
            </div>
      
          </div> 

          <div class=" d-flex justify-content-center align-items-center py-5">
            <button class="button-gre-big">HABLEMOS DE TU PROYECTO</button>
          </div>

             
    </div> 
     
  </div>
