.content-first-client{
    background-image: url("/assets/images/cliente1.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px; 
    opacity: 0.8;
  }
  .content-second-client{
    background-image: url("/assets/images/cliente2.jpg") ;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px; 
    opacity: 0.8;
  }
  .content-third-client{
    background-image: url("/assets/images/cliente3.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    opacity: 0.8;
  }